<main
  @fadeIn
  class="container relative grid h-screen gap-4 place-content-center"
>
  <!-- background -->
  <img
    class="bg lg:hidden"
    src="assets/images/bg-mobile.png"
    alt="Background Mobile"
  />
  <img
    class="absolute w-full h-1/2 left-0 bottom-0 hidden lg:block z-[-1]"
    src="assets/images/bg-desktop.png"
    alt="Background Desktop"
  />
  <!-- end background -->

  <section
    class="flex flex-col gap-4 mt-20 lg:gap-6 lg:flex-row lg:items-end lg:m-0"
  >
    <div
      class="bg-blue-800 rounded-lg rounded-tr-[100px] p-10 min-w-[320px] lg:min-w-[360px]"
    >
      <!-- logo -->
      <img src="assets/images/logo.svg" alt="Logo" />
      <!-- end logo -->

      <lbk-options class="block mt-8"></lbk-options>
    </div>

    <div
      class="relative p-10 text-white bg-blue-800 rounded-lg lg:min-w-[540px]"
    >
      <p class="text-sm text-center lg:text-left">
        You've used <strong>815GB</strong> of your storage.
      </p>

      <lbk-process-bar class="block mt-4"></lbk-process-bar>

      <!-- gigabytes left  mobile-->
      <lbk-gigabytes-left
        class="min-w-[175px] absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 lg:left-full lg:bottom-[110%] lg:-translate-x-[120%]"
      ></lbk-gigabytes-left>
      <!-- end gigabytes left mobile-->
    </div>
  </section>

  <lbk-author
    class="mt-40 lg:fixed lg:w-full lg:left-0 lg:bottom-2"
  ></lbk-author>
</main>
